* {
  padding: 0;
  margin: 0;
}

body,
footer {
  margin: 2%;
}

section {

    position: relative;
}
nav {
  position: fixed;
  height: 3rem;
  background: yellow;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.title {
  position: relative;
  left: 28%;
  width: 30%;
  padding-top: 5%;
}

.jumbo {
  position: relative;
  left: 22%;
  width: 50%;
}

.jumbo img {
  width: 100%;
}

.jumbo p {
  font-size: 12px;
}

.ads {
  position: relative;
  clear: both;
  height: 12rem;
  text-align: center;
  padding-top: 5rem;
  background-color: lightgray;
  border: 2px solid rgb(255, 255, 255);
}

.infograph {
  position: relative;
  left: 12%;
  width: 88%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.infograph-boxes {
  position: relative;
  float: left;
  width: 233px;
  margin-right: 1.6%;
}

.infograph-boxes img {
  width: 100%;
}
.infograph-boxes p {
    font-size: 14px;
    font-family: Arial;
    color: #000000;
}

.video-box {
  position: relative;
  width: 50%;
  left: 33%;
}

p {
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.main-content {
  position: relative;
  left: 30%;
  width: 55%;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.main-content-with-aside {
  position: relative;
  left: 30%;
  width: 55%;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.signup-form {

    border-top: 2px solid black;
    padding-top: 2rem;
    height: 15rem;}

.signup-form-box {

    float:left;
    width: 50%;}

.get-more-content {
  position: relative;
  width: 66%;
  float: left;
}

aside {
    position: relative;
    padding-top: 4.5rem;
    border-top: 2px solid black;
}
.get-more-content-box {
  width: 30%;
  float: left;
  margin-right: 0.8rem;
}

.get-more-content-box img {
  width: 100%;
}

.get-more-content-box h3 {
  font-size: 1.2rem;
}

.popular {
  position: relative;
  float: right;
  width: 32%;
}

footer {
  position: relative;
}

.footer-ny-logo img {
  width: 288px;
}
.footer-float {
  float: left;
  width: 15%;
}

.footer-float ul {
  position: relative;
  left: -45px;
}
.footer-float li {
  padding: 0.5rem;
  text-align: left;
  line-height: 1;
  list-style: none;
}

.footer-float h3 {
  text-align: left;
  font-weight: bold;
}

.footer-float-subscribe {
  float: left;
  width: 15%;
}
.footer-float-subscribe ul,
li {
  padding: 0.5rem;
  text-align: left;
  line-height: 1;
  list-style: none;
}

.footer-float-subscribe ul {
  position: relative;
  left: -12px;
}
.footer-float-subscribe h3 {
  text-align: left;
  font-weight: bold;
}
.clear-floats {
  clear: both;
}
