* {
  padding: 0;
  margin: 0;
}

body,
footer {
  margin: 2%;
}
nav {
  position: fixed;
  height: 3rem;
  background: yellow;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.title {
  position: relative;
  left: 28%;
  width: 30%;
  padding-top: 5%;
}

.jumbo {
  position: relative;
  left: 22%;
  width: 50%;
}

.jumbo img {
  width: 100%;
}

.jumbo p {
  font-size: 12px;
}

.ads {
  position: relative;
  clear: both;
  height: 12rem;
  text-align: center;
  padding-top: 5rem;
  background-color: lightgray;
  border: 2px solid rgb(255, 255, 255);
}

aside {
}

.infograph {
  position: relative;
  left: 12%;
  width: 88%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.infograph-boxes {
  position: relative;
  float: left;
  width: 233px;
  margin-right: 1%;
}

.infograph-boxes img {
  width: 100%;
}
.infograph-boxes p {
  font-size: 15px;
}

.video-box {
  position: relative;
  width: 50%;
  left: 33%;
}

p {
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.main-content {
  position: relative;
  left: 33%;
  width: 50%;
}

.main-content-with-aside {
  position: relative;
  left: 33%;
  width: 50%;
}

.get-more-content {
  position: relative;
  width: 60%;
  float: left;
}

.get-more-content-box {
  width: 33%;
  float: left;
}

.get-more-content-box img {
  width: 100%;
}

.get-more-content-box h3 {
  font-size: 1.2rem;
}

.popular {
  position: relative;
  float: right;
  width: 40%;
  background-color: blue;
}

footer {
  position: relative;
  clear: both;
}

.footer-ny-logo img {
  width: 288px;
}
.footer-float {
  float: left;
  width: 15%;
}

.footer-float ul {
  position: relative;
  left: -45px;
}
.footer-float li {
  padding: 0.5rem;
  text-align: left;
  line-height: 1;
  list-style: none;
}

.footer-float h3 {
  text-align: left;
  font-weight: bold;
}

.footer-float-subscribe {
  float: left;
  width: 15%;
}
.footer-float-subscribe ul,
li {
  padding: 0.5rem;
  text-align: left;
  line-height: 1;
  list-style: none;
}

.footer-float-subscribe ul {
  position: relative;
  left: -12px;
}
.footer-float-subscribe h3 {
  text-align: left;
  font-weight: bold;
}
.clear-floats {
  clear: both;
}
